* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #242424;
}

body {
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
